@model IEnumerable<Student>

@{
    ViewData["Title"] = "Students";
}

<h1>Студенты</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th>
                Номер зачётки
            </th>
            <th>
                Группа
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPatronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordBook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
        </tr>
}
    </tbody>
</table>
